python-dotenv
starlette
itsdangerous
uvicorn
fastapi
sqlalchemy
psycopg2-binary
requests
authlib
python-jose
email-validator
boto3
langgraph
langchain
langchain-openai
langchain-anthropic
langchain-community
langchain-pinecone
python-multipart
pinecone-client
PyPDF2
python-docx
langchain-text-splitters